.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# .gitignore
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client_secret_801797477748-f6rm9b4hs3cj5a58upb5guh9h5fveltl.apps.googleusercontent.com.json
project1-471223-cf0ea01cdf84.json
project1-471223-974314382751.json